<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- ActiveMQ配置 -->
	<!-- 工厂 原厂提供 -->
	<bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<!-- 设置连接 -->
		<property name="brokerURL" value="tcp://192.168.27.130:61616"/>
		<!-- 用户名 -->
		<property name="userName" value="admin"/>
		<!-- 密码 -->
		<property name="password" value="admin"/>
	</bean>
	<!-- 工厂连接池 原厂提供 -->
	<bean id="pooledConnectionFactoryBean" class="org.apache.activemq.pool.PooledConnectionFactoryBean">
		<!-- 连接工厂 -->
		<property name="connectionFactory" ref="activeMQConnectionFactory"/>
		<property name="maxConnections" value="2"/>
	</bean>
	
	<!-- spring管理连接池 -->
	<bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
		<!-- 注入MQ工程 -->
		<property name="targetConnectionFactory" ref="pooledConnectionFactoryBean"/>
	</bean>
	
	<!-- JmsTemplate 由Spring提供 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory"/>
		<!-- 目标对象 -->
		<property name="defaultDestinationName" value="itemId"></property>
	</bean>
	
</beans>